<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Role">
    <resultMap id="RoleMap" type="com.yayo.sys.mapper.dataobject.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_code" property="roleCode"/>
        <result column="target_id" property="targetId"/>
        <result column="target_type" property="targetType"/>
        <result column="role_permission" property="rolePermission"/>
        <result column="deleted" property="deleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>
    
    <sql id="tb">
        `role`
    </sql>

    <sql id="cols_all">
        `role_id`,
        <include refid="cols"/>
    </sql>

    <sql id="cols">
        `role_name`,`role_code`,`target_id`,`target_type`,`role_permission`,`deleted`,`created_at`,`created_by`,`updated_at`,`updated_by`
    </sql>

    <sql id="vals">
        #{roleName},#{roleCode},#{targetId},#{targetType},#{rolePermission},0,now(),#{createdBy},now(),#{updatedBy}
    </sql>


    <select id="count" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(role_id) FROM
        <include refid="tb"/>
        WHERE deleted = 0
    </select>

    <select id="paging" parameterType="java.util.Map" resultMap="RoleMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE deleted = 0
        LIMIT #{offset},#{limit}
    </select>

    <insert id="create" parameterType="com.yayo.sys.mapper.dataobject.Role" >
        INSERT INTO <include refid="tb"/>
        (<include refid="cols"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="RoleMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE id = #{id} AND deleted = 0
    </select>
    
    <select id="findByIds" parameterType="java.util.List" resultMap="RoleMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE deleted = 0 AND role_id IN
        <foreach item="roleId" collection="list" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <update id="update" parameterType="com.yayo.sys.mapper.dataobject.Role">
        UPDATE <include refid="tb"/>
        <set>
            updated_at = now()
            <if test="roleName!=null"> , role_name = #{roleName}</if>
            <if test="roleCode!=null"> , role_code = #{roleCode}</if>
            <if test="targetId!=null"> , target_id = #{targetId}</if>
            <if test="targetType!=null"> , target_type = #{targetType}</if>
            <if test="rolePermission!=null"> , role_permission = #{rolePermission}</if>
            <if test="deleted!=null"> , deleted = #{deleted}</if>
            <if test="updatedBy!=null"> , updated_by = #{updatedBy}</if>
        </set>
        WHERE role_id = #{roleId}
    </update>

    <select id="list" resultMap="RoleMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE deleted = 0
    </select>

</mapper>